<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.AddressOrderMapper">
    
    <resultMap type="AddressOrder" id="AddressOrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="detailAddr"    column="detail_addr"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="orderNo"    column="order_no"    />
    </resultMap>

    <sql id="selectAddressOrderVo">
        select id, user_id, name, phone, province, city, area, detail_addr, deleted, create_time, update_time, order_no from address_order
    </sql>

    <select id="selectAddressOrderList" parameterType="AddressOrder" resultMap="AddressOrderResult">
        <include refid="selectAddressOrderVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="province != null "> and province = #{province}</if>
            <if test="city != null "> and city = #{city}</if>
            <if test="area != null "> and area = #{area}</if>
            <if test="detailAddr != null  and detailAddr != ''"> and detail_addr = #{detailAddr}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
        </where>
    </select>
    
    <select id="selectAddressOrderById" parameterType="Long" resultMap="AddressOrderResult">
        <include refid="selectAddressOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAddressOrder" parameterType="AddressOrder" useGeneratedKeys="true" keyProperty="id">
        insert into address_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="area != null">area,</if>
            <if test="detailAddr != null and detailAddr != ''">detail_addr,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="orderNo != null">order_no,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="area != null">#{area},</if>
            <if test="detailAddr != null and detailAddr != ''">#{detailAddr},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="orderNo != null">#{orderNo},</if>
         </trim>
    </insert>

    <update id="updateAddressOrder" parameterType="AddressOrder">
        update address_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="area != null">area = #{area},</if>
            <if test="detailAddr != null and detailAddr != ''">detail_addr = #{detailAddr},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAddressOrderById" parameterType="Long">
        delete from address_order where id = #{id}
    </delete>

    <delete id="deleteAddressOrderByIds" parameterType="String">
        delete from address_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>