<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.AreaMapper">
    
    <resultMap type="Area" id="AreaResult">
        <result property="areaId"    column="area_id"    />
        <result property="areaName"    column="area_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="level"    column="level"    />
    </resultMap>

    <sql id="selectAreaVo">
        select area_id, area_name, parent_id, level from area
    </sql>

    <select id="selectAreaList" parameterType="Area" resultMap="AreaResult">
        <include refid="selectAreaVo"/>
        <where>  
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="level != null "> and level = #{level}</if>
        </where>
    </select>
    
    <select id="selectAreaByAreaId" parameterType="Long" resultMap="AreaResult">
        <include refid="selectAreaVo"/>
        where area_id = #{areaId}
    </select>
        
    <insert id="insertArea" parameterType="Area" useGeneratedKeys="true" keyProperty="areaId">
        insert into area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaName != null">area_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="level != null">level,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaName != null">#{areaName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="level != null">#{level},</if>
         </trim>
    </insert>

    <update id="updateArea" parameterType="Area">
        update area
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="level != null">level = #{level},</if>
        </trim>
        where area_id = #{areaId}
    </update>

    <delete id="deleteAreaByAreaId" parameterType="Long">
        delete from area where area_id = #{areaId}
    </delete>

    <delete id="deleteAreaByAreaIds" parameterType="String">
        delete from area where area_id in 
        <foreach item="areaId" collection="array" open="(" separator="," close=")">
            #{areaId}
        </foreach>
    </delete>
</mapper>