<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.ReturnAddressMapper">
    
    <resultMap type="ReturnAddress" id="ReturnAddressResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="detailAddr"    column="detail_addr"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="defaultCargo"    column="default_cargo"    />
    </resultMap>

    <sql id="selectReturnAddressVo">
        select id, name, phone, province, city, area, detail_addr, deleted, create_time, update_time, default_cargo from return_address
    </sql>

    <select id="selectReturnAddressList" parameterType="ReturnAddress" resultMap="ReturnAddressResult">
        <include refid="selectReturnAddressVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="province != null "> and province = #{province}</if>
            <if test="city != null "> and city = #{city}</if>
            <if test="area != null "> and area = #{area}</if>
            <if test="detailAddr != null  and detailAddr != ''"> and detail_addr = #{detailAddr}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="defaultCargo != null "> and default_cargo = #{defaultCargo}</if>
        </where>
    </select>
    
    <select id="selectReturnAddressById" parameterType="Long" resultMap="ReturnAddressResult">
        <include refid="selectReturnAddressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReturnAddress" parameterType="ReturnAddress" useGeneratedKeys="true" keyProperty="id">
        insert into return_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="area != null">area,</if>
            <if test="detailAddr != null and detailAddr != ''">detail_addr,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="defaultCargo != null">default_cargo,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="area != null">#{area},</if>
            <if test="detailAddr != null and detailAddr != ''">#{detailAddr},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="defaultCargo != null">#{defaultCargo},</if>
         </trim>
    </insert>

    <update id="updateReturnAddress" parameterType="ReturnAddress">
        update return_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="area != null">area = #{area},</if>
            <if test="detailAddr != null and detailAddr != ''">detail_addr = #{detailAddr},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="defaultCargo != null">default_cargo = #{defaultCargo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReturnAddressById" parameterType="Long">
        delete from return_address where id = #{id}
    </delete>

    <delete id="deleteReturnAddressByIds" parameterType="String">
        delete from return_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>