<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.SeckillGoodsMapper">
    
    <resultMap type="SeckillGoods" id="SeckillGoodsResult">
        <result property="id"    column="id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="skuId"    column="sku_id"    />
        <result property="offer"    column="offer"    />
        <result property="seckillId"    column="seckill_id"    />
        <result property="time"    column="time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSeckillGoodsVo">
        select id, goods_id, sku_id, offer, seckill_id, time, create_time, update_time from seckill_goods
    </sql>

    <select id="selectSeckillGoodsList" parameterType="SeckillGoods" resultMap="SeckillGoodsResult">
        select  * from seckill_goods
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="skuId != null "> and sku_id = #{skuId}</if>
            <if test="offer != null "> and offer = #{offer}</if>
            <if test="seckillId != null "> and seckill_id = #{seckillId}</if>
            <if test="time != null "> and time = #{time}</if>
        </where>
    </select>
    
    <select id="selectSeckillGoodsById" parameterType="Long" resultMap="SeckillGoodsResult">
        select  * from seckill_goods
        where id = #{id}
    </select>
    <select id="selectSeckillGoodsVoList" resultType="com.ts.shop.domain.vo.SeckillGoodsVo">
        SELECT sku.sku_name,g.name as prodName,sku.pic,sku.price,sg.* FROM `seckill_goods` sg
        LEFT JOIN goods_sku sku on sg.sku_id=sku.sku_id
        LEFT JOIN goods g on sg.goods_id=g.id
        WHERE sg.seckill_id = #{seckillId} and sg.time = #{time}
    </select>

    <insert id="insertSeckillGoods" parameterType="SeckillGoods" useGeneratedKeys="true" keyProperty="id">
        insert into seckill_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">goods_id,</if>
            <if test="skuId != null">sku_id,</if>
            <if test="offer != null">offer,</if>
            <if test="seckillId != null">seckill_id,</if>
            <if test="time != null">time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="stock != null">stock,</if>
            <if test="quantity != null">quantity,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">#{goodsId},</if>
            <if test="skuId != null">#{skuId},</if>
            <if test="offer != null">#{offer},</if>
            <if test="seckillId != null">#{seckillId},</if>
            <if test="time != null">#{time},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="stock != null">#{stock},</if>
            <if test="quantity != null">#{quantity},</if>
         </trim>
    </insert>

    <update id="updateSeckillGoods" parameterType="SeckillGoods">
        update seckill_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="offer != null">offer = #{offer},</if>
            <if test="seckillId != null">seckill_id = #{seckillId},</if>
            <if test="time != null">time = #{time},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSeckillGoodsById" parameterType="Long">
        delete from seckill_goods where id = #{id}
    </delete>

    <delete id="deleteSeckillGoodsByIds" parameterType="String">
        delete from seckill_goods where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delBySecId">
        delete from seckill_goods where seckill_id =#{id}
    </delete>
</mapper>